export PORT="3000"
export COOKIE_PASSWORD="it-should-have-min-32-characters"
export NODE_ENV="development"
export MONGO_URL="mongodb://localhost:27017/db-name"
export SENDGRID_API_KEY="get one at: https://app.sendgrid.com/settings/api_keys"
export VIENTOS_SERVICE_URL="http://google.com"
