<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
	<main class="mdl-layout__content">
		<div class="mdl-card mdl-shadow--6dp">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
				<h2 class="mdl-card__title-text">{{i18n 'Vientos Password Reset'}}</h2>
			</div>
			<form action="/password-reset" method="post">
        <input type="hidden" name="code" value="{{code}}">
		  	<div class="mdl-card__supporting-text">
          <div class="mdl-textfield mdl-js-textfield {{#if errors.password }} is-invalid {{/if}}">
            <input class="mdl-textfield__input" type="password" name="password" />
            <label class="mdl-textfield__label" for="password">{{i18n 'Password'}}</label>
            {{#if errors.password}}
              <span class="mdl-textfield__error">{{errors.password}}</span>
            {{/if}}
          </div>
          <div class="mdl-textfield mdl-js-textfield {{#if errors.passwordConfirmation }} is-invalid {{/if}}">
            <input class="mdl-textfield__input" type="password" name="passwordConfirmation" />
            <label class="mdl-textfield__label" for="password">{{i18n 'Confirm password'}}</label>
            {{#if errors.passwordConfirmation}}
              <span class="mdl-textfield__error">{{errors.passwordConfirmation}}</span>
            {{/if}}
          </div>
				</div>
				<div class="mdl-card__actions mdl-card--border">
          <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{i18n 'OK'}}</button>
				</div>
			</form>
		</div>
	</main>
</div>
