<body>
  <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
		<main class="mdl-layout__content">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Welcome to Vientos</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Confirmation email has been sent, please check you mailbox in order to finish registration
        </div>
      </div>
		</main>
	</div>
  <script src="http://storage.googleapis.com/code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
